
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}
body {
  min-height: 100%;
  font-size: 1.6rem;
  overflow-x: hidden;

}

h1 {
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 4rem 0;
  text-align: center;
  color:  #5123e6;
  font-size: 3rem;
}


.btn {
  margin-top: 2rem;
  padding: 1.5rem;
  font-size: 2rem;
  
  
}

.user_form {
  height: 100vh;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(270deg, #c7fdff 0, #a9f0fc 12.5%, #88e2f6 25%, #5ed2f2 37.5%, #0cc1ed 50%, #00b0e9 62.5%, #009fe6 75%, #0090e4 87.5%, #0081e1 100%);
  
}

.container_form {
  padding: 5rem 3rem;
  max-width: 500px;
  width: 95%;
  background-color: #fff;
  border-radius: 1rem;
 
}

.form_field {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.form_field label {
  flex: 0 0 100px;
  color: #1c1b1d;
  font-size: 1.8rem ;
  font-weight: bold;

}
.form_field input[type="password"],
.form_field input[type="email"] {

  padding: 1rem;
  flex: 1;
}

input[type="checkbox"]{
  cursor: pointer;
}



.loginPage-error {
  background-color: rgba(163, 17, 63, 0.993);
  border: 1px solid rgba(245, 5, 81, 0.2);
  border-radius: 5px;
  color: #fff;
  margin-top: 20px;
  padding: 10px 15px;
}